%btn{
    display: inline-block;
    border-radius: 5px;
    padding: 8px 20px;
    margin: 3px;
    &:hover{
        opacity: 80%;
    }
}

.btn-primary{
    @extend %btn;
    background-color: darken($primary_color, 20%);
    color: setTextColor(darken($primary_color, 20%));
}

.btn-secondary{
    @extend %btn;
    background-color: $secondary_color;
    color: setTextColor($secondary_color);
}